.banner
   figure.banner__img
      img(src="../img/banner1x.jpg", alt="Imagen principal del sitio")
         
   a.banner__scroll(href="javascript:;")
      span.banner__scroll-text Scroll down
      span.banner__scroll-flecha
         
   .banner__info
      h1.banner__saludo Bienvenidos, te presentamos
         span "aCambio"
      .banner__slider
         h2 aqui va el slider
      a.boton.waves-effect.waves-light(href="javascript:;") Quiero saber más
