
   



script(src="./lib/jquery/dist/jquery.min.js")
script(src="./lib/materialize-css/dist/js/materialize.min.js")
script(src="./lib/owl.carousel/dist/owl.carousel.min.js")
script(src="./js/main.js")
