header.header

   figure.header--logotipo
      img.logotipo--img(src="../img/logotipo-aCambio.png", alt="Logotipo aCambio")
      
   ul.header--menu
      li.header--menu--item
         a(href="javascript:;") Qué hacemos
      li.header--menu--item
         a(href="javascript:;") Cómo funciona
      li.header--menu--item
         a(href="javascript:;") Quiénes somos
      li.header--menu--item
         a(href="javascript:;") Colaboradores
      li.header--menu--item
         a(href="javascript:;") Blog
      li.header--menu--item
         a(href="javascript:;") Contacto
   
   .header--menu--user
      img(src="../img/user.jpg", alt="Fotografica del usuario que ha iniciado sesión")

   
