.quienes-somos{
   padding: 7em 0;
   position: relative;
}

.equipo{
   border-radius: 50%;
   border: 10px solid #fff;
   height: 780px;
   overflow: hidden;
   position: absolute;
   right: -200px;
   top: -70px;
   width: 780px;
   z-index: 2;
}
